/benchmark/results
/blockchain-hardhat/node_modules
/irma/benchmark/results
/plots/__pycache__
issuer/vc_data1000000.json
issuer/vc_data1000.json
issuer/vc_data50.json
gnark.pprof
/plots/graphs
/plots/graphs
