/benchmark/results/*
!/benchmark/results/
!/benchmark/results/.gitkeep
/blockchain-hardhat/node_modules
/irma/benchmark/results/*
!/irma/benchmark/results/
!/irma/benchmark/results/.gitkeep
/plots/__pycache__
issuer/vc_data1000000.json
issuer/vc_data1000.json
issuer/vc_data50.json
gnark.pprof
/plots/graphs/*
!/plots/graphs/
!/plots/graphs/.gitkeep
